doctype html
html
    head
        title Index Page
    body
        //pug stromg
        h1 Hellow pug
        h2jongchan
        hr
        a(href="http://www.naver.com/", data-test="mu;tiple Attribute") Go to 네이버