<% include headerLayout.ejs %>
<p>Lorem ipsum dolor sit amet, consectetur adiopiscing elit.</p>
<p>Lorem ipsum dolor sit amet, consectetur adiopiscing elit.</p>
<p>Lorem ipsum dolor sit amet, consectetur adiopiscing elit.</p>
<% include footerLayout.ejs %>
